@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/AboutUS.css">
    <title>About Us</title>
</head>
<body>
    <header>
        <h1>
            About Us!
        </h1>
    </header>
    <div id="info">
        <h3>
            <p>Este site foi criado com o intuito de ajudar no gerenciamento de oficinas!</p>
            <p>Desenvolvedores: Alexandre Alves Molina, Cayo Henrique dos Santos Dias e Gabriel Rocha Silva.</p>
            <p>Equipe: AUTODEV.</p>
            <p>Tecnico em informatica - turma: TI-48</p>
        </h3>
    </div>
    <div id="Copyright">
        <label>© 2022 Copyright: S.I.G.O</label>
    </div>


</body>
</html>