body {
    background-color: gainsboro;
    background-image: url('../Images/S.SIGO (2).png');
    background-size: 92%;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    text-decoration: underline;
    text-align: center;
    color: cornflowerblue;
    margin-top: 100px;
}

#info {
    text-align: center;
}

#Copyright {
    color: black;
    text-decoration: underline;
    margin-top: 100px;
    text-align: center;
}
